body {
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

.container {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    width: 70%;
    text-align: center;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	z-index: 1;
	overflow-y: scroll;
}

