<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
</head>
<body>
    <canvas></canvas>
    <div id="img" src=""></div>
    <script type="text/javascript">
var namee = JSON.parse('{{name | tojson}}');
      </script>
          <script
    type="module"
    src={{ url_for('static', filename='js/canvas.js') }}
    crossorigin="anonymous"
>
</script>

    <style>
        body {
          align-items: center;
          display: flex;
          justify-content: center;
          height: 100vh;
          background-color: black;
        margin: 0;
        }

    </style>
</body>
</html>